.screenshots-slider-overlay{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    top: 0;
    position: fixed;
    z-index: 2;      
    display: flex;
    justify-content: center;
    align-items: center;               
}

.screenshots-slider-overlay .close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    z-index: 2;
}
.screenshots-slider-overlay .controls{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    
}
.screenshots-slider-overlay .controls .btn{
    margin: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    z-index: 2;
}
.screenshots-slider{
    width: 100%;
    background-color: black;
    aspect-ratio: 16/9;
    border-radius: 10px;
    background: center center/cover no-repeat;
    transition: 1s;
}

@media(max-width:768px){
    .screenshots-slider{
        height: 50%;
    }
}