header{

    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: sticky;
    background-color: #EDEDED;
    top: 0;
    z-index: 1;
    box-shadow:  2px 4px 2px rgba(0,0,0,.4);
  }
  .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--main-width);
    height: 80px;
    margin: auto;
  }
  .search-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D8D8D8;
    width: 50%;
    padding: .5rem 1rem .5rem;
  
  }
  .search-form:focus-within {
    background-color: white;
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,.4);
  }
  .search-input-container{
    width: 80%;
    position: relative;
  }
  
  .search-input-container input{
    width: 96%;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: clamp(1rem,1.2vw,2rem);
  }
  
  .search-input-container input::placeholder{
    color: gray;
  }

 /* id  4s0i0owmb88dd8z004eo95un7yve6m
 secret ssp5yoy5oub6m3dp3s3w4fy35u7pjd */

  .side-options{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;

  }
  .game-link{
    color: rgba(0,0,0,.4);
    text-decoration: none;
    font-size: clamp(1.5rem,1.2vw,3rem);
  }
  .side-options .game-link.active{
    color: black;
  }
  @media (max-width:1640px){
    header{
      justify-content: space-evenly;
    }
    
  }
  @media (max-width:1200px){
    .header-content{
      flex-direction: column;
    }
    .search-form{
      width: 100%;
    }
  }
