.main-slider{
    position: relative;
    margin: auto;
    width: var(--main-width);
    height: 60vh;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .main-slider .slide{
    height: 100%;
    width: 80%;
    transition: .3s ease-in;
    background: center center/cover;
    margin: auto;
  }
  
   .main-slider .left, .main-slider .right{
    font-size: clamp(1rem,3.5vw,4.5rem);
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    border-radius: 6px;
    transition: .3s;
  }
  .main-slider .left:hover,.main-slider .right:hover{
    background-color: #191A1A;
    color: white;
  }
  .main-slider .left{
    left: 0;
  }
  
  .main-slider .right{
    right: 0;
  }
  
  .main-slider .controls {
    height: 50px;
    color:black;
    font-size: clamp(1rem,2vw,3rem);
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .main-slider .link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: clamp(1.5rem,2vw,3rem);
    color: white;
    background-color: black;
    padding: 10px;
    position: absolute;
    top: 50%;
    margin-left: 2rem;
    cursor: pointer;
    border: 2px solid black;
    transition: 1s;
  }
  .main-slider .link:hover{
    color:black;
    background-color: white;
  }
  @media (max-width:768px){
    .main-slider .left,.main-slider .right{
      width: 50%;
      height: 10%;
      top: 90%;

    }
    .main-slider .controls{
      display: none;
    }
    .main-slider .slide{
      width: 100%;
      height: 50vh;
    }
  }