.custom-cards-container{
  width: 100%;
  padding: 2rem 0 2rem;
  margin-top: 5rem;
}
.custom-cards-content{

  width: var(--main-width);
  margin: auto;
  
}
.custom-cards-content .series-link{
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  width:300px;
  font-size: 2rem;
}
.custom-cards-content .series-link .series-arrow{
  opacity: 0;
  transition: 1s;
  position: absolute;

}
.custom-cards-content  .series-link:hover .series-arrow{
 opacity: 1;
 transform: translate(300px);
}
.custom-cards{
    
  margin: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill,clamp(8rem,15vw,25rem));
  justify-content: center;
}
.custom-cards .card{
  
  text-overflow: ellipsis;
  overflow-y: hidden;
  cursor: pointer;
  aspect-ratio: 1/1.5;
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.custom-cards .img-container{
  position: relative;
  transition: .2s;
  background: center center/cover no-repeat;
  min-height: 90%;
  width: 100%;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,.6);
}

.custom-cards .img-container .img-container-overlay{
  background-color: rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s;
}
.custom-cards .img-container .img-container-overlay:hover{
  background-color: transparent;
}
.description-container{
  font-size: clamp(1rem,1.4vw,2rem);
}

  /* @media (max-width:768px){
    .round-border-game-cards{
      grid-template-columns: repeat(auto-fill,minmax(1rem,100%));
    }
  }
   */