.error{
    display: flex;
    flex-flow: column;
    background: center center/cover;

}
.error .error-content{

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error .error-content .error-detail{
    border: 1px solid black;
    padding: 1rem;
    background-color: rgba(0,0,0,.6);
    border-radius: 10px;
    color: whitesmoke;
}
