.spinner-background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
}
.spinner-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.spinner{
    border: 10px solid rgba(255,255,255,.4);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left-color:white;
    border-right-color:white;
    animation: spin 1s linear infinite;
}
.spinner-overlay span{
    font-size: 2rem;
    color: white;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}