:root{
  --small-slider-width:100%;
  --slide-container-quantity:3;
  --slide-container-quantity:2;
}
.slider-2-2-6-container{
  background-color: #121314;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.slider-2-2-6{
  width: clamp(50px,100%,1800px);
  position: relative;
  margin: auto;
  overflow: hidden;
  padding-right: 9%;
}
.slider-2-2-6 .overlay-right{
  position: absolute;
  height: 100%;
  padding-right: 11rem;
}
.slider-2-2-6 .controls{
  position: absolute;
  right: 0;
  width: 120px;
  display: flex;
}

.slider-2-2-6 .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border: none;
  outline: none;
  margin: .3rem;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 1.4rem;
  cursor: pointer;
}

.slider-2-2-6 h3,.slider-2-2-6 h4{
  color: var(--white-color);
  font-size: 2rem;
  position: absolute;
  
}
