
.min-slider-container{
    background-color: #121314;
    padding: 1rem 7% 1rem;
    overflow: hidden;
}

.min-slider-container .btn-container{
    display: flex;
    gap: .5rem;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.min-slider-container .btn-container .btn{
    border: none;
    height: 5px;
    width: 25px;
    background-color: rgba(255,255,255,.3);
    
    cursor: pointer;
}

.min-slider-container .btn-container .btn.active{
    background-color: white;
}
.min-slider{
    width: 300%;
    display: flex;
    transition: 1s;

}

.min-slider .min-slider-content{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    
}
.min-slider .min-slider-content .slide{
    width:calc((100%*40)/300);
    border-radius: 10px;
    aspect-ratio: 1/1;
    background: center center/cover;
    cursor: pointer;
}
