.series{
    width: var(--main-width);
    margin: auto;
}

.series-container{
    display: grid;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    gap: 3rem;
    color: white;
    margin: 2rem ;
}
.series .game-card{
    transition: .2s;
    background: center center/cover;
    display: flex;
    align-items: end;
    position: relative;
    cursor: pointer;
}

.series .game-card:hover{
    box-shadow: 1px 1px 10px 4px black;
    transform: scale(1.1);
}

.series .game-card .game-title{
    font-size: 1.4rem;
    padding: 10px;
    z-index: 1;
}

.series .game-card .game-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
}