#game{
    position: relative;
}
.game-hero{
    background: center center/cover;
    width: var(--main-width);
    height: 70vh;
    position: relative;
    margin: auto;

}

.game-hero .game-overlay{
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
}   

#game .game-overlay h2{
    color:var(--white-color);
    font-size: calc(5vw + 1.4rem);
    font-weight: 100;
}

#game .game-overlay span{
    color:var(--white-color);
    font-size: 2rem;
}

#game .game-overlay button{
    width: 300px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
}
#game .game-info-container{
    margin-top: 2rem;
    background-color: #121314;
}
#game .game-info-content{
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "top-left top-left top-right top-right"
    "middle middle middle middle"
    "bottom-left bottom-left bottom-left bottom-left"
    ;
    grid-template-rows:40rem 20rem 30rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: var(--main-width);
    margin: auto;
    padding: 20px;

}
#game .top-left{
    grid-area: top-left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    color: var(--white-color);
    border-radius: 4px;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}
#game .top-left .additional-info .release,#game .top-left .additional-info .publishers,#game .top-left .additional-info .ratings{
    margin: 1rem;
}
#game .top-left .additional-info span{
    margin-left: 1rem;
        
}
#game .top-left .ratings-content{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
#game .top-left::-webkit-scrollbar{
    display: none;
}
#game .top-left .game-description p{
    text-align: justify;
}
#game .top-right{
    grid-area: top-right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    overflow-y: scroll;
    padding: 10px;
    color: var(--white-color);
}
#game .top-right .tags .tags-content,#game .top-right .platforms .platforms-content,#game .top-right .genres .genres-content{
    margin-top: 1rem;
}
#game .top-right .tags .tags-content span,#game .top-right .platforms .platforms-content span,#game .top-right .genres .genres-content span{
    border: 2px solid #fff;
    padding: 0.5rem;
    border-radius: 20px;
}
#game .top-right::-webkit-scrollbar{
    display: none;
}

#game .top-right .tags .tags-content,.top-right .genres .genres-content,.top-right .platforms-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
}
#game .middle{
    grid-area: middle;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    padding: 1rem;
}
#game .middle .requirements-content::-webkit-scrollbar{
    display: none;
}
#game .requirements-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    padding: 1rem;
}
#game .bottom-left{
    grid-area: bottom-left;
    overflow: scroll;
}
#game .bottom-left::-webkit-scrollbar{
    display: none;
}
#game .bottom-left .screenshots{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20rem,15rem));
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    cursor: pointer;
}
#game .screenshot{
    aspect-ratio: 16/9;
    background: center center/cover no-repeat;
    border-radius: 4px;
}
#game .bottom-right{
    grid-area: bottom-right;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 10px;
    color: var(--white-color);
}

@media(max-width:1000px){
    #game .game-info-content{
        grid-template-areas: 
        "top-left"
        "top-right"
        "middle"
        "bottom-left"
        "bottom-right"
        ;
        grid-template-columns: 1fr;
        padding: 20px;
        
    }
    #game .top-right{
        grid-template-columns: 1fr;
        
    }
    #game .requirements-content{
        grid-template-columns: 1fr;
    }
}
@media(max-width:600px){
    #game .top-left{
        grid-area: top-left;
        display: grid;
        grid-template-columns: 1fr;
    }
}
