.slider-2-2-6 .slider-container{
    width: 400%;
    transition: 1s;
    display: flex;
    margin-left: -100%;
  }
  
  .slider-2-2-6 .slider-container .slider-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin:8rem 0 8rem;
    transition: 1s;
  }
  .slider-2-2-6 .slider-container .slider-content .slide{
    width: 14%;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,.5);
    margin-bottom: 5rem;
    position: relative;
    background: center center/cover;
    transition: .4s;
  }
  
  .slider-2-2-6 .slider-container .slider-content .slide:hover{
    box-shadow: 1px 1px 10px 8px rgba(0,0,0,.5);
    transform: scale(1.03);
  }
  
  .slider-2-2-6 .slider-container .slider-content .slide span{
    position: absolute;
  }
  
  @media(max-width:1220px){
    .slider-2-2-6 .slider-container .slider-content .slide{
      width: 12%;
    }
  }
  @media(max-width:1220px){
    .slider-2-2-6 .slider-container .slider-content .slide{
      width: 20%;
    }
  }
  @media(max-width:768px){
    .slider-2-2-6 .slider-container .slider-content .slide{
      width: 46%;
    }
    .slider-2-2-6{
  
      padding: 0 3% 0;
    }
  }
  
  @media(max-width:435px){
    .slider-2-2-6 .slider-container .slider-content .slide{
      width: 40%;
    }
    .slider-2-2-6{
  
      padding: 0 7% 0;
    }
  }
  
  