#custom-hero{
    margin-top: 5rem;
    position: relative;

    width: 100%;
}
#custom-hero h1{
    position: absolute;
    font-size: clamp(2rem,5vw,6rem);
    color: var(--white-color);
    top: 20%;
    left: 10%;
}
#custom-hero button{
    position: absolute;
    font-size: clamp(2rem,2vw,4rem);
    color: black;
    top: 50%;
    left: 10%;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    transition: 1s;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
}

#custom-herobutton:hover{
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
}

#custom-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}